.feature-item__box {
  background: #f5f4fa;
  border-radius: 4px;
  @extend %display;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}
.feature__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature__item {
  width: 100%;
  &:nth-child(4n) {
    margin: 0;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    
  }
  // width: calc((100% - 90px) / 4);
  // &:nth-child(4n) {
  //   margin: 0;\
  // }
}

.feature-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.feature-item__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
