.footer {
  background: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.footer__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  justify-content: space-between;
  @include desktop {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-top {
  @include tablet {
    display: flex;
    gap: 165px;
    justify-content: space-between;
    align-items: baseline;
  }
}
.logo-accent {
  color: var(--accent-color);
}

.footer-adress-wrap {
  margin-bottom: 60px;
}

.adress {
  margin-top: 20px;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.adress__mail,
.adress__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:hover,
  &:focus,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-soc__tile {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc__list {
  @extend %display;
  gap: 10px;
  justify-content: center;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
}

.footer-soc__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  @extend %display;
  justify-content: center;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer__subscription {
  text-align: center;
  @include desktop{ width: 570px;}
}

.subscription__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
  @include desktop {
    flex-direction: row;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  display: block;
  min-width: 315px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  &:focus {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
  }
  @include tablet {  min-width: 358px;}
}

.subsription__send {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  margin-right: 28px;
  fill: #ffffff;
}

.subsription__btn {
  position: relative;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--aktive-accent-color);
  }
}
