.hero {
  position: relative;
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  min-width: 216px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--aktive-accent-color);
  }
}
